{{ define "content" }}
<h4>
    <code>{{ $.Server.Id }}# {{ $.Command }}</code>
</h4>
<div class="table-wrapper">
    {{ $.Raw }}
</div>
<p>
    <a href="/detail/{{ $.Server.Id }}">Go back to Summary</a>
</p>
{{ end }}
