{{ define "content" }}
<form>
    <fieldset role="group">
        <input name="q" placeholder="Query" required autofocus>
        <button type="submit" formmethod="get">WHOIS!</button>
    </fieldset>
</form>
<p>
    <a href="/">Go back to home</a>
</p>
{{ end }}
